# Ignored files and folders

iris-powctrl-ccs/Debug/*
iris-powpcu-ccs/Debug/*
*/Debug/*
iris-powctrl-ccs/.cproject
iris-powctrl-ccs/.launches/*
*.obj
*/.settings/*

# Workspace folders
/.jxbrowser.userdata
/.jxbrowser-data
/.metadata
/dvt
/RemoteSystemsTempFiles

# Project files/folders
/Debug
/Release
.xdchelp
/.config
/.launches
